[Unit]
Description=Restore Campus SDN Open vSwitch state
Requires=openvswitch-switch.service
After=openvswitch-switch.service
PartOf=openvswitch-switch.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/test -r /etc/default/campus-ovs
ExecStart=/root/Campus-OVS-restore.sh
RemainAfterExit=yes
TimeoutStartSec=45

[Install]
WantedBy=multi-user.target openvswitch-switch.service
